<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- xml mapper와 짝이 될 java mapper의 패키지명(경로명)과 파일명을 적어줌 -->
<mapper namespace="com.ssafy.mapper.MemberMapper">


  
  	<!-- 회원 가입  
  		내부 회원가입 : 입력 정보 넣기
  		외부 로그인 : ID, name 값 넣기  
  		location 변수로 내부 , 외부 판별
  	 -->
 	<insert id="insertMemberInfo" parameterType="Member">
 		insert into member values(null,#{email},#{pw},#{name},1)
 	</insert>
 
 	
<!--  	로그인 체크 
 	<select id="checkLogin" resultType="Member" parameterType="String">
 		select email, pw, name, grade from member where email = #{param1} and pw = #{param2}
 	</select> -->
 	
 	<!--관리자 로그인 시 유저 정보 확인  -->
 	<select id="getMemberList" resultType="Member">
 		select email, pw, name , grade from member order by grade
 	</select>
 	
 	<select id="getDetailMember" resultType="Member" parameterType="String">
 		select email, pw, name, grade from member where email =#{param1}
 	</select>
  	
 	<update id="updateMemberInfo" parameterType="String">
 		update member set pw =#{param1} where email =#{param2}
 	</update>
 	
 	<delete id="deleteMemberList" parameterType="String">
 		delete from member where email=#{param1}
 	</delete>

  	

 
  	
</mapper>








