<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mapper.PfCommentMapper">

	<select id="selectAll" resultType="PfComment">
		select * from portfoliocomment
	</select>
	
 	<insert id="insert" parameterType="PfComment">
 		insert into portfoliocomment values (null, #{content}, sysdate(), #{pfId}, #{mid})
 	</insert>



</mapper>