<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- xml mapper와 짝이 될 java mapper의 패키지명(경로명)과 파일명을 적어줌 -->
<mapper namespace="com.ssafy.mapper.PortfolioMapper">

	

	<select id="getPortfolioList" resultType="Portfolio">
		select * from portfolio order by pfId
	</select>
	
	<select id="getDetailPortfolio" resultType="Portfolio" parameterType="String">
		select * from portfolio where pfId=#{param1}
	</select>
  
 	<insert id="insertPortfolioInfo" parameterType="Portfolio">
 		insert into portfolio values(null,#{pfImg},#{title},sysdate(),#{content},0)
 	</insert>
 	
 	<delete id="deletePortfolioList" parameterType="String">
 		delete from portfolio where pfId = #{param1}
 	</delete>
 	
 	<update id="updatePortfolioInfo">
 		update portfolio 
 		set pfImg =#{portfolio.pfImg},
 		title = #{portfolio.title},  
 		dateq = sysdate(), 
 		content =#{portfolio.content} 
 		where pfId =#{pfId}
 	</update>
 	

  	
</mapper>








