<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- xml mapper와 짝이 될 java mapper의 패키지명(경로명)과 파일명을 적어줌 -->
<mapper namespace="com.ssafy.mapper.PortfolioMapper">

	

	<select id="getPortfolioList" resultType="Portfolio">
		select p.pfId, p.title, p.content, p.count, p.date, p.img, p.mid, (select m.name from member m where p.mid = m.mid) name
		from Portfolio p;
	</select>
	
	<select id="getDetailPortfolio" resultType="Portfolio" parameterType="String">
		select p.pfId, p.title, p.content, p.count, p.date, p.img, p.mid, (select m.name from member m where p.mid = m.mid) name
		from Portfolio p
		where p.pfId = #{param1};
	</select>
  
 	<insert id="insertPortfolioInfo" parameterType="Portfolio">
 		insert into portfolio values(null,#{title},#{content},0,sysdate(),#{img},#{mid})
 	</insert>
 	
 	<delete id="deletePortfolioList" parameterType="String">
 		delete from portfolio where pfId = #{param1}
 	</delete>
 	
 	<update id="updatePortfolioInfo">
 		update portfolio 
 		set img =#{portfolio.img},
 		title = #{portfolio.title},  
 		date = sysdate(), 
 		content =#{portfolio.content} 
 		where pfId =#{pfId}
 	</update>
 	

  	
</mapper>








